<div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<section class="team">
  <div class="container">
    <div class="row">
      <div class="team-item">
        <div class="img-box">
          <img src="1.jpg" alt="team img" />
          <div class="social-links">
            <a href="#">facebook</a>
            <a href="#">twitter</a>
            <a href="#">instagram</a>
            <a href="#">youtube</a>
          </div>
        </div>
        <h3>sonu singh</h3>
        <p>web developer</p>
      </div>
      <div class="team-item">
        <div class="img-box">
          <img src="2.jpg" alt="team img" />
          <div class="social-links">
            <a href="#">facebook</a>
            <a href="#">twitter</a>
            <a href="#">instagram</a>
            <a href="#">youtube</a>
          </div>
        </div>
        <h3>sonu singh</h3>
        <p>web developer</p>
      </div>
      <div class="team-item">
        <div class="img-box">
          <img src="3.jpg" alt="team img" />
          <div class="social-links">
            <a href="#">facebook</a>
            <a href="#">twitter</a>
            <a href="#">instagram</a>
            <a href="#">youtube</a>
          </div>
        </div>
        <h3>sonu singh</h3>
        <p>web developer</p>
      </div>
    </div>
  </div>
</section>