<div class="about-section">
  <h1>About Us Page</h1>
</div>

<section class="team">
  <div class="container">
    <div class="row">
      <div class="team-item">
        <div class="img-box">
          <img src="1.jpg" alt="team img" />
          <div class="social-links">
            <a href="https://www.facebook.com/">facebook</a>
            <a href="https://twitter.com/">twitter</a>
            <a href="https://www.instagram.com/">instagram</a>
            <a href="https://www.youtube.com/">youtube</a>
          </div>
        </div>
        <h3>Petrus Abraham</h3>
        <p>web developer</p>
      </div>
      <div class="team-item">
        <div class="img-box">
          <img src="2.jpg" alt="team img" />
          <div class="social-links">
            <a href="https://www.facebook.com/">facebook</a>
            <a href="https://twitter.com/">twitter</a>
            <a href="https://www.instagram.com/">instagram</a>
            <a href="https://www.youtube.com/">youtube</a>
          </div>
        </div>
        <h3>Gabriel Adward</h3>
        <p>web developer</p>
      </div>
      <div class="team-item">
        <div class="img-box">
          <img src="3.jpg" alt="team img" />
          <div class="social-links">
            <a href="https://www.facebook.com/">facebook</a>
            <a href="https://twitter.com/">twitter</a>
            <a href="https://www.instagram.com/">instagram</a>
            <a href="https://www.youtube.com/">youtube</a>
          </div>
        </div>
        <h3>Mattias Yousef</h3>
        <p>web developer</p>
      </div>
    </div>
  </div>
</section>