<div class="about-section">
  <h1>Add A Answer</h1>
  <p>Create an answer by filling in the field below.</p>
</div>





{{#if errorMessages.length}}
	<p>Couldn't create the post because:</p>
	<ul>
		{{#each errorMessages}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
{{/if}}




<div class="wrap">

<form class="login-form" action="/questions/add-answer/{{question.questionid}}" method="POST">
 <div class="form-header">
      <h3>Add Answer</h3>
    </div>
        <div class="form-group">

            <input class="form-input" type="text" name="answer" value="{{newAnswer}}">
        </div>
        <div class="form-group">

    <input class="form-button" type="submit" value="Answer">
        </div>
</form>
</div>




