<form method="post">

{{#with}}

<input type="text" name="title" value="{{title}}">

<input type="text"  name="message" value="{{message}}">


{{/width}}

<input type="submit" value="Delete">

</form>