<div  class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Why is freedom of speech important in a democracy?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>1. It battles for the truth To enable citizens to make meaningful
          decisions about how they want society to function, they need access to
          truthful and accurate information about a wide variety of topics. This
          can only happen if people feel safe vocalizing the issues affecting
          their communities. Safeguarding freedom of speech encourages people to
          speak out, which makes it easier to tackle systemic issues from the
          inside. This deters people from abusing their power, which helps
          everyone in the long run.
          <br />
          2. Promotes equal treatment of minorities In a democratic society
          everyone should be treated equally and fairly. However, minority
          groups who are underrepresented in government are often side-lined,
          and their opinions' neglected in favour of those belonging to the
          dominant social group. By campaigning and speaking openly about the
          issues faced by their communities, marginalized people can gain
          widespread public support for their cause. This increases their
          ability to influence public agenda-setting and put an end to human
          rights abuses.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="under-navbar">
  <h2 class="un-h2">Why Freedom Of Speach Is Important!</h2>
  <p class="un-p">Freedom of speech is one of the core pillars upholding the
    democratic process and protecting it is essential if we want to live in a
    society that is fair and equal for everyone. Failing to do so weakens
    democracy.<br />
    Every time you share a news story on your social media channel, attend a
    protest, or write to your local politician about an issue you care about,
    this is free speech in action.
    <br />
    Not just any speech is considered free speech. For example, having an
    argument around the dinner table about whether or not to eat your vegetables
    is not considered free speech.</p>
  <div id="button-modal">
    <button type="button" class="btn btn-primary text-center" data-bs-toggle="modal" data-bs-target="#exampleModal">Want to read more!</button>
  </div>
</div>

<div class="featured-categories">
  <div class="small-container">
    <div class="row">
      <div class="col-3">
        <img src="16_abraham_lincoln.jpg" alt="" class="image-1"/>
      </div>
      <div class="col-3">
        <img src="Martin_Luther_King,_Jr..jpg" alt="" class="image-2"/>
      </div>
      <div class="col-3">
        <img src="Nelson_Mandela-2008.jpg" alt="" class="image-3"/>
      </div>
    </div>
  </div>
</div>