
<form action="/posts/search" method="GET" class="form">

<div>
  Text: <input type="text" name="title">
</div>

<input type="submit" value="Search">

</form>

{{#each post}}
<div>
 <a href="/posts/{{id}}/">{{title}}</a>
 </div>
{{/each}}


